.login-form {

  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  margin: 0 25%;
  grid-gap: 10px;
}

/* .login-form label {
  justify-self: end;
} */


.login-input  {

  margin: 0;
  padding-top: 7px;
  justify-self: end;
}

/* .password-input {


} */