

.edit-delete {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;

}

.rest-edit-button, .rest-delete-button{
    
  background-color: #323232;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
  margin-bottom: 10px;
}

.restaurant-container {
 display: flex;

 
}

.review-container {
display: flex;
flex-direction: column;
width: 200px;
}


.one-rest {
  box-shadow: 3px 3px 3px 3px #CECECE;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-size: 20px; 
  width: 500px;
  margin: 10px 250px;
}

.one-rest-name{
  font-size: 15px;
}


.one-rest-location {
  font-size: 15px;
}

.single-image {
  padding-top: 6px;
  padding-bottom: 30px;
  width: 275px;
  margin: 0 auto;

}

.one-rest-description {
  display: flex;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 


    
    .restaurant-container {
    display: flex;
    justify-content: column;
    flex-direction: column;
    margin-right: 150px;
    margin-top: 20px;
     
    }
    
    .review-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    
    }
    
    
    .one-rest {
      box-shadow: 3px 3px 3px 3px #CECECE;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: black;
      font-size: 20px; 
      width: 355px;
      margin: 10px;
      margin-right: 5px;
    }
    
    .one-rest-name{
      font-size: 15px;
    }
    
    .one-rest-location {
      font-size: 15px;
    }
    
    .single-image {
      padding-top: 6px;
      padding-bottom: 30px;
      width: 275px;
      margin: 0 auto;
    
    }
    
    .one-rest-description {
      display: flex;
      width: 500px;
      margin-left: 50%;
      margin-right: 50%;
      text-align: center;
      font-size: 15px;
    }

  }