.all-restaurants {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: 1px 1px 3px 1px red;

}


.restaurants {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 3px 1px #CECECE;
  transition: 250ms all;
  padding: 20px;
  margin-bottom: 60px;

}

.rest-name {
font-size: 30px;
}

.rest-loc {
font-size: 30px;
}


.restaurant-image {
  width: 400px;
  
}




/* @media (max-width: 500px) {

} */