.create-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
  
  
}

.all-restaurants {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
 
}
 

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 3px 1px #CECECE;
  transition: 250ms all;
  padding: 20px;
  margin-bottom: 60px;

}

.restaurants:hover {
  transform: scale(1.02);
  opacity: .9;
}

.rest-name {
font-size: 30px;
}

.rest-loc {
font-size: 30px;
}


.restaurant-image {
  /* width: 400px; */
  max-width: 500px;
  
}




/* @media (max-width: 500px) {

} */